<!DOCTYPE html>
<html lang="tr"  prefix="og: https://ogp.me/ns# article: https://ogp.me/ns/article#">
<head>
<meta http-equiv=X-UA-Compatible content="IE=edge">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% include _head.html %}


</head>
<body class="home">

{% include _browser-upgrade.html %}

{% include _navigation.html %}
{% assign total = 3 | minus: site.data.featured.size %}

  <div id="slider" class="image-wrap">
  {% for post in site.data.featured %}
    <a href="{{ post.url }}"> <img src="{{ site.url }}/images/{{ post.image.feature }}" alt="{{ post.title }}"></a>
  {% endfor %}
  {% for post in site.posts limit:total %}   
    <a href="{{ post.url }}"> <img src="{{ site.url }}/images/{{ post.image.feature }}" alt="{{ post.title }}"></a>
  {% endfor %}
  </div><!-- /.image-wrap -->

<div id="main" role="main">
  <div id="index">

    {% include _main-tiles.html %}

    {% include _social-tiles.html %}

  </div><!-- /#index -->
</div><!-- /#main -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}
<script>
  var slider = new IdealImageSlider.Slider({
    selector: '#slider',
    interval: 4000,
  });
  slider.addCaptions();
  slider.start();
</script>

</body>
</html>
