<!DOCTYPE html>
<html lang="tr"  prefix="og: https://ogp.me/ns# article: https://ogp.me/ns/article#">
<head>

<meta http-equiv=X-UA-Compatible content="IE=edge">
<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% include _head.html %}

</head>
<body class="post">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature and page.feature_video == null %}
{% if page.image.feature contains 'http' %}
<div alt="{{ page.title }} feature image" class="image-wrap" style="background: url('{{ page.image.feature }}'); background-size: cover; background-position: center;">
 {% else %}
<div alt="{{ page.title }} feature image" class="image-wrap" style="background: url('{{ site.url }}/images/{{ page.image.feature }}'); background-size: cover; background-position: center;">
{% endif %}
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}


<div id="main" role="main">
  <article class="post">
    <div class="headline-wrap">
      {% if page.link %}
        <h1><a href="{{ page.link }}">{{ page.title }}</a></h1>
      {% else %}
        <h1><a href="{{ site.url }}{{ page.url }}" rel="bookmark" title="{{ page.title }}">{{ page.title }}</a></h1>
      {% endif %}
    </div><!--/ .headline-wrap -->
    {% if page.feature_video %}
    <div class="youtube"><iframe class="youtube-player" type="text/html" width="640" height="385" src="{{page.feature_video}}" allowfullscreen frameborder="0"></iframe></div><br>
    {% endif %}
    <div class="article-wrap">
      {{ content }}
      <footer role="contentinfo">
        {% if page.lang==en %}
        <p class="byline">
        <strong>{{ page.title }}</strong> was published on <time datetime="{{ page.date}}">{{ page.date | date: "%B %d, %Y" }}</time>{% if page.modified %} and last modified on <time datetime="{{ page.modified | date: '%Y-%m-%d' }}">{{ page.modified | date: "%B %d, %Y" }}</time>{% endif %}.</p>
        {% else %}
        
        <p class="byline">
        <strong>{{ page.title }}</strong>, <time datetime="{{ page.date}}">{{ page.date | date: "%F" }} tarihinde sitede yayınlandı</time>{% if page.modified %} <time datetime="{{ page.modified | date: '%Y-%m-%d' }}"> ve {{ page.modified | date: "%F" }} tarihinde değiştirildi</time>{% endif %}.</p>
        
    {% endif %}
      </footer>
    </div><!-- /.article-wrap -->
  </article>
</div><!-- /#main -->

<div class="footer-wrap">
  {% if site.related_posts.size > 0 %}
 
 
        {% if page.lang==en %}
  <div class="related-articles">
  <h4>You might also enjoy  <small class="pull-right">(<a href="{{ site.url }}/posts/">View all posts</a>)</small> 
  </h4>
  {% else %}
    <div class="related-articles">
  <h4>Ayrıca tadını çıkarabilirsiniz.  <!-- <small class="pull-right">(<a href="{{ site.url }}/posts/">Tüm gönderileri görüntüleyin</a>)</small> -->
  </h4>
    {% endif %}
  
    <ul>
    {% for post in site.related_posts limit:3 %}
      <li><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}"><span class='post-image'  style="background: url(/images/{{ post.image.feature }}); background-size: cover">&nbsp;</span>{{ post.title }}</a></li>
    {% endfor %}
    </ul>
    <hr />
  </div><!-- /.related-articles -->
  {% endif %}
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}	        


<noscript>
    <img src="https://counter2000.herokuapp.com/ingress/baee7e82-ac81-432a-a911-d0361856be43/pixel.gif" alt="counter" title="counter">
</noscript>
<script defer src="https://counter2000.herokuapp.com/ingress/baee7e82-ac81-432a-a911-d0361856be43/script.js"></script>


</body>
</html>
